@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Перепись сотрудников</title>
</head>
<body>
    <div>
        <h3>Добавление сотрудника</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Имя</p></td>
                    <td><input type="text" name="FirstName" /> </td>
                </tr>
                <tr>
                    <td><p>Фамилия</p></td>
                    <td><input type="text" name="LastName" /> </td>
                </tr>
                <tr>
                    <td><p>Возраст</p></td>
                    <td><input type="text" name="Age" /> </td>
                </tr>
                <tr>
                    <td><p>Пол</p></td>
                    <td>@Html.DropDownList("Sex", EnumHelper.GetSelectList(typeof(EmployeesCensus.Models.Sex)), "Select gender", new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Отправить" /></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>